body{
    font-family: Poppins; 
}
.image{
    width: 282px;
    height: 197px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%); 
    border-radius: 3px;
}
.otherarticlesdate{
    left: 48%;
    top: 5px; 
    position: absolute; 
    text-align: right; 
    color: #6C757D; 
    font-size: 12px; 
    font-weight: 300; 
    line-height: 20px; 
    word-wrap: break-word;
}
.articleinfos{
    width: 287px; 
    height: 105px; 
    left: 48%;
    top: 40px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 15px; 
    display: inline-flex;
}
.maintitle{
    width: 287px;
    color: #212529; 
    font-size: 16px; 
    font-weight: 500; 
    line-height: 25px; 
    word-wrap: break-word;
}
.maintitle>a:visited{
    color: #604811 !important;
}
.maintitle>a{
    color: #d5a330 !important
}
.caption{
    width: 287px; 
    color: #6C757D; 
    font-size: 12px; 
    font-weight: 300; 
    line-height: 20px;
    word-wrap: break-word;
}
.author{
    left: 48%;
    top: 175px; 
    position: absolute; 
    color: #6C757D; 
    font-size: 12px; 
    font-weight: 300; 
    line-height: 20px; 
    word-wrap: break-word;
}
.dividingline{
    width: 287px; 
    height: 0px; 
    left: 48%;
    top: 160px;
    position: absolute;
    border: 3px #E5E5E5 solid;
}
.articles{
    width: 605px;
    height: 200px; 
    left: 48%; 
    position: absolute;
}
.cube{
    width: 12.69px; 
    height: 11.12px; 
    left: 0px; 
    top: 4px; 
    position: absolute; 
    background: rgba(108, 117, 125, 0.60);
}
.articlespage{
    left: 17.69px;
    top: 0px; 
    position: absolute; 
    text-align: right;
    color: #6C757D; 
    font-size: 12px; 
    font-weight: 300; 
    line-height: 20px;
    word-wrap: break-word;
}
.articleslowside{
    left: 88%;
    top: 175px; 
    position: absolute;
}

.leftsidebartext1{
    position: absolute; 
    color: #495057; 
    font-size: 17px; 
    width: 300px;
    font-weight: 500px; 
    line-height: 25px; 
    word-wrap: break-word;
    left: 19px;
}
.leftsidebartext2{
    position: absolute; 
    color: #495057; 
    font-size: 17px; 
    width: 300px;
    font-weight: 500px; 
    line-height: 25px; 
    word-wrap: break-word;
    left: 0px;
}
.pages{
    top: 0px; 
    position: absolute; 
    color: rgba(73, 80, 87, 0.50); 
    font-size: 13px; 
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
}
.selectedpage{
    top: 0px; 
    position: absolute; 
    color: #495057 !important; 
    font-size: 13px; 
    font-weight: 500; 
    line-height: 25px; 
    word-wrap: break-word;
}
/*footer*/
.maindivs > div{
    color: rgba(248, 249, 250, 0.50); 
    font-size: 12px; 
    font-weight: 500;
    position: absolute; 
    word-wrap: break-word;
    line-height: 25px;
}
#footerline{
    width: 90%;
    height: 0px; 
    left: 5%;
    top: 185em;
    position: absolute; 
    border: 3px rgba(229, 229, 229, 0.20) solid;
}
#footerbackround{
    width: 100%;
    height: 24em;
    left: 2em;
    top: 172em;
    position: absolute; 
    background: #212529;
}
#footerbrand{
    left: 7.5%;
    top: 177em; 
    position: absolute;
}
#footerbrand > span{
    font-size: 18px; 
    font-family: Poppins;
    font-weight: 700; 
    line-height: 25px; 
    word-wrap: break-word;
}
.center{
    text-align: center;
}
/*footer*/
/*header*/
.mainpages{
    position: absolute;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    top: 37px; 
}
#selectedmainpage{
    position: absolute;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    top: 37px; 
    color: #495057;
}
#getstarted>a{
    color: wheat !important;
}
#getstarted{
    position: absolute;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    left: 11px; 
    top: 7px; 
}
#getstartedblock{
    width: 100px; 
    height: 40px; 
    left: 87.5%; 
    top: 30px;
}
.maindivs>div>span{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 25px;
    word-wrap: break-word;
    
}
.rectangle{
    position: absolute;
     background: rgba(73, 80, 87, 0.50);
     width: 10px; 
     height: 5.85px;
}
/*header*/
.maindivs{
    width: 100%; 
    height: 100%; 
    position: relative; 
    background: #F8F9FA;
}
.maindivs>div{
    position: absolute;
    font-family: Poppins;
    word-wrap: break-word ;
}
#mainpicturetext1{
    font-weight: 300;
    font-family: Poppins;
    line-height: 20px;
    word-wrap: break-word;
    color: #E5E5E5;
    font-size: 12px;
    line-height: 20px; 
    left: 46.5% !important;
    left: 672px; 
    top: 292px;
}
#mainpicturetext2{
    font-weight: 300;
    font-family: Poppins;
    line-height: 20px;
    word-wrap: break-word;
    color: #E5E5E5;
    font-size: 12px;
    line-height: 20px; 
    left: 46.5% !important;
    text-align: center; 
    letter-spacing: 2.40px;
}
#maintext1{
    font-family: Poppins;
    word-wrap: break-word ;
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 40px;
    width: 400px;
    top: 322px;
    left: 39.5% !important;
    color: #F8F9FA !important;
}
#maintext2{
    font-family: Poppins;
    word-wrap: break-word ;
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 40px;
    width: 393px; 
    left: 10%;
    top: 700px;
    color: #212529;
}
header>.maindivs>div{
    position: absolute;
    color: rgba(73, 80, 87, 0.50);
}
.login{
    background: #bb8c6c;
     border-radius: 20px;
     width: 82px; 
     height: 40px; 
}
.maindivs>#searchtopic>.top0px{
    left: 22px; 
    color: rgba(73, 80, 87, 0.50);
    
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    width: 300px;
    font-size: 17px !important;
}
.maindivs>#searchtopic>.left0px{
    height: 5px ;
    top: 6px;  
    width: 60px !important;
    font-size: 17px ;
    background: rgba(73, 80, 87, 0.50); 
}
.maindivs>img{
    width: 90%;
    height: 30em;
    left: 5%;
    top: 8em;
    position: absolute;
    background: linear-gradient(0deg, #212529 0%, #212529 100%); 
    border-radius: 5px;
}
.left0px{
    left: 0px;
}
.top0px{
    top: 0px;
}
.height0px{
    height: 0px;
}
.borderbeige{
    border: 2px #DDBEA9 solid;
}
#searchtopic{
    left: 10%;
    top: 1040px;
}
.vence{
    font-size: 22px !important;
}
.vencedot{
    color: #DDBEA9;
    font-size: 22px !important;
}
button{
    font-family: Poppins;
    background-color: #DDBEA9;
    color: #212529;
    border-radius: 5px;
}
#picturenumber{
    width: 76.01px; 
    left: 46.5% ; 
    top: 540px; 
}
a{
    color: #eda574;
    text-decoration: none;
}
a:visited{
    color: #DDBEA9;
}
.articleinfos>div>a:link{
    color: #C4C4C4;
}
footer>.maindivs>div>a:hover{
    color: beige;
}
header>.maindivs>div>a:hover{
    color: brown;
}
header>.maindivs>div>div>a:hover{
    color: brown;
}

@media only screen and (max-width: 1120px) {
    .maindivs>img{
        height: 375px !important;
    }
    .image{
        opacity: 0.0;
    }
    .maindivs>.center>a{
        opacity: 0.0;
    }
    .maindivs>.mainpages>a{
        opacity: 0.0;
    }
    .maindivs>div>.mainpages>a{
        opacity: 0.0;
    }
    .maindivs>div>.rectangle{
        opacity: 0.0;
    }
    .maindivs>.rectangle{
        opacity: 0.0;
    }
  
    .leftsidebartext1{
        font-size: 13px; 
    }
    .maindivs>#searchtopic>.left0px{
        width: 12px;
        height: 3px;
        top: 6px;  
        font-size: 13px ;
    }
    #picturenumber{
        width: 76.01px; 
        left: 46.5% ; 
        top: 450px; 
    }
    #maintext1{
        left: 34.5% !important;
    }

    .articleinfos{
        left: 15%;
    }
    .otherarticlesdate{
        left: 15%;
    }
    .articleslowside{
        left: 55%;
    }
    .dividingline{
        left: 15%;
    }
    .author{
        left: 15%;
    }
    #getstartedblock{
        left: 82.5%; 
    }
    .articlepic{
        left: 35% !important;
    }
  }

  @media only screen and (max-width: 780px) {
    .maindivs>img{
        height: 350px !important;
        top: 10em;  
    }
    #mainpicturetext1{
        top: 260px;
    }
    #picturenumber{
        top: 380px; 
    }
    #maintext1{
        top: 280px;
        width: 260px;
    }
    #maintext2{
        font-size: 22px !important;
        line-height: 20px;
        left: 10%;
        top: 700px;
    }
    .leftsidebartext1{
        font-size: 19; 
        left: 30%;
    }
    .leftsidebartext2{
        font-size: 19px; 
        left: 21%;
    }
    #searchtopic{
        left: 14.5%;
        top: 1040px;
    }
    .articleinfos{
        left: 3%;
        width: 50px !important;
    }
    .caption{
        width: 200px; 
        font-size: 11px;
    }
    .maintitle{
        width: 200px;
        font-size: 12px;
    }
    .otherarticlesdate{
        left:  13.5%;
    }
    .articleslowside{
        left: 32%;
    }
    .dividingline{
        left: 3%;
        width: 210px; 
    }
    .author{
        left: 3%;
    }
    #getstartedblock{
        left: 82.5%; 
    }
    #footerline{
        width: 85%;
        left: 10%;
    }
    .articlepic{
        left: 25% !important;
    }

  }
  .articlepic{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 38%;
    left: 45% ;
  }
  .animation{
    display: flex;
    margin-left: 50px;  
}
h2{
    font-size:22px;
    color: beige;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    text-shadow:2px 2px #C4C4C4;
}
h2::before,h2::after{
    content: '';
    padding: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(0);
    animation: spin 6s alternate infinite ease-in-out;
}
h2::before{
    border-top: 7px solid #604811;
    border-left: 7px solid #DDBEA9;

}
h2::after{
    border-bottom: 7px solid #604811;
    border-right: 7px solid #DDBEA9;
    z-index: -1;
}
@keyframes spin{
    100%{
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
p{
    font-size: 16px;
}