/*kepes sidebar resz*/
.image{
    width: 282px;
    height: 197px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%); 
    border-radius: 3px;
}
.otherarticlesdate{
    left: 48%;/*318px; */
    top: 5px; 
    position: absolute; 
    text-align: right; 
    color: #6C757D; 
    font-size: 12px; 
    font-family: Poppins; 
    font-weight: 300; 
    line-height: 20px; 
    word-wrap: break-word;
}


.articleinfos{
    width: 287px; 
    height: 105px; 
    left: 48%;/*318px; */
    top: 40px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 15px; 
    display: inline-flex;
}
.maintitle{
    width: 287px;
    color: #212529; 
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 25px; 
    word-wrap: break-word;
}
.caption{
    width: 287px; 
    color: #6C757D; 
    font-size: 12px; 
    font-family: Poppins; 
    font-weight: 300; 
    line-height: 20px;
    word-wrap: break-word;
}
.author{
    left: 48%;/*318px; */
    top: 175px; 
    position: absolute; 
    color: #6C757D; 
    font-size: 12px; 
    font-family: Poppins; 
    font-weight: 300; 
    line-height: 20px; 
    word-wrap: break-word;
}
.dividingline{
    width: 287px; 
    height: 0px; 
    left: 48%;/*318px; */
    top: 160px;
    position: absolute;
    border: 3px #E5E5E5 solid;
}
.articles{
    width: 605px;
    height: 200px; 
    left: 48%;/*629px;*/ 
    
    position: absolute;
}
.cube{
    width: 12.69px; 
    height: 11.12px; 
    left: 0px; 
    top: 4px; 
    position: absolute; 
    background: rgba(108, 117, 125, 0.60);
}
.articlespage{
    left: 17.69px;
    top: 0px; 
    position: absolute; 
    text-align: right;
    color: #6C757D; 
    font-size: 12px; 
    font-family: Poppins; 
    font-weight: 300; 
    line-height: 20px;
    word-wrap: break-word;
}
.articleslowside{/*csak az oldalszámért és a négyzetért felel*/
    /*width: 35.69px; 
    height: 20px; */
    left: 88%;/*569px; */
    top: 175px; 
    position: absolute;
}
/*kepes sidebar resz*/
/*baloldali sidebar resz*/
.leftsidebartext1{
    position: absolute; 
    color: #495057; 
    font-size: 17px; 
    font-family: Poppins; 
    width: 300px;
    font-weight: 500px; 
    line-height: 25px; 
    word-wrap: break-word;
    left: 19px;
}
.leftsidebartext2{
    position: absolute; 
    color: #495057; 
    font-size: 17px; 
    font-family: Poppins; 
    width: 300px;
    font-weight: 500px; 
    line-height: 25px; 
    word-wrap: break-word;
    left: 0px;
}
/*baloldali sidebar resz*/
.pages{
    top: 0px; 
    position: absolute; 
    color: rgba(73, 80, 87, 0.50); 
    font-size: 13px; 
    font-family: Poppins; 
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
}
.selectedpage{
    top: 0px; 
    position: absolute; 
    color: #495057; 
    font-size: 13px; 
    font-family: Poppins; 
    font-weight: 500; 
    line-height: 25px; 
    word-wrap: break-word;
}
/*footer*/
.maindivs > div{
    color: rgba(248, 249, 250, 0.50); 
    font-size: 12px; 
    font-family: Poppins; 
    font-weight: 500;
    position: absolute; 
    word-wrap: break-word;
    line-height: 25px;
}
#footerline{
    width: 80%;/*1240px; */
    height: 0px; 
    left: 5%;/*8em;/*100px; */
    top: 185em;/*2213px; */
    position: absolute; 
    border: 3px rgba(229, 229, 229, 0.20) solid;
}
#footerbackround{
    width: 100%; /*1440px*/
    height: 24em;/*325px; */
    left: 2em;/*0px;*/ 
    top: 172em;/*2048px; */
    position: absolute; 
    background: #212529;
}
#footerbrand{
    left: 7.5%;/*8em;/*100px; */
    top: 177em; /*2148px; */
    position: absolute;
}
#footerbrand > span{
    font-size: 18px; 
    font-family: Poppins;
    font-weight: 700; 
    line-height: 25px; 
    word-wrap: break-word;
}
.center{
    text-align: center;
    
}

/*footer*/

/*header*/

.mainpages{
    color: rgba(73, 80, 87, 0.50); 
    position: absolute;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    top: 37px; 
    
}
#selectedmainpage{
    position: absolute;
    font-size: 13px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    top: 37px; 
    color: #495057;
}
.maindivs>div>span{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 25px;
    word-wrap: break-word;
    
}
.rectangle{
    position: absolute;
     background: rgba(73, 80, 87, 0.50);
     width: 10px; 
     height: 5.85px;
}
/*header*/
.maindivs{
    width: 100%; 
    height: 100%; 
    position: relative; 
    background: #F8F9FA;
}
.maindivs>div{
    position: absolute;
    font-family: Poppins;
    word-wrap: break-word ;
}
.mainpicturetext{
    font-weight: 300;
    font-family: Poppins;
    line-height: 20px;
    word-wrap: break-word;
    color: #E5E5E5;
    font-size: 12px;
    line-height: 20px; 
    left: 46.5% !important;
}
.maintext{
    font-family: Poppins;
    word-wrap: break-word ;
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 40px;
}
header>.maindivs>div{
    position: absolute;
    color: rgba(73, 80, 87, 0.50);
}
.login{
    background: #DDBEA9;
     border-radius: 20px;
     width: 82px; 
     height: 40px; 
}

.maindivs>#searchtopic>.top0px{
    left: 22px; 
    color: rgba(73, 80, 87, 0.50);
    font-family: Poppins; 
    font-weight: 500;
    line-height: 25px;
    word-wrap: break-word;
    width: 300px;
    font-size: 17px !important;
}
.maindivs>#searchtopic>.left0px{
    height: 5px ;
    top: 6px;  
    width: 60px !important;
    font-size: 17px ;
    background: rgba(73, 80, 87, 0.50); 
}
.maindivs>img{
    width: 85%; /*1240px*/
    height: 30em;/*500px;/*500px; */
    left: 5%;/*8em;/*100px; */
    top: 8em;/*100px;  
    right: 3%;*/
    
    position: absolute;
    background: linear-gradient(0deg, #212529 0%, #212529 100%); 
    border-radius: 5px;
}

.left0px{
    left: 0px;
}
.top0px{
    top: 0px;
}
.height0px{
    height: 0px;
}
.borderbeige{
    border: 2px #DDBEA9 solid;
}
#searchtopic{
    left: 10%;/*206px;*/
    top: 1040px;
}
.vence{
    font-size: 22px !important;
}
.vencedot{
    color: #DDBEA9;
    font-size: 22px !important;
}
@media only screen and (max-width: 1100px) {
    body {
      /*background-color: lightblue;*/
    }
    .maindivs>img{
        width: 730px!important; /*1240px*/
        height: 375px !important;/*500px;/*500px; */
        left: 5%;/*8em;/*100px; */
        top: 8em;/*100px;  
        right: 3%;*/
        text-align: center !important;
        position: absolute;
        background: linear-gradient(0deg, #212529 0%, #212529 100%); 
        border-radius: 5px;
    }
    .image{
        width: 211px;
        height: 147.75px; 
        left: 0px; 
        top: 0px; 
        position: absolute; 
        background: linear-gradient(0deg, #C4C4C4 0%, #C4C4C4 100%); 
        border-radius: 3px;
    }
    .maintext{
        font-family: Poppins;
        
        font-size: 17px !important;
        font-weight: 500 !important;
        line-height: 40px;
        width: 50px;
        overflow-wrap: break-word;  
        word-wrap: break-word; 
        word-break: break-word;
    }
    .leftsidebartext1{
        position: absolute; 
        color: #495057; 
        font-size: 13px; 
        font-family: Poppins; 
        font-weight: 500px; 
        line-height: 25px; 
        word-wrap: break-word;
        left: 19px;
    }
    .leftsidebartext2{
        position: absolute; 
        color: #495057; 
        font-size: 13px; 
        font-family: Poppins; 
        font-weight: 500px; 
        line-height: 25px; 
        word-wrap: break-word;
        left: 0px;
    }
    .maindivs>#searchtopic>.top0px{
        left: 22px; 
        color: rgba(73, 80, 87, 0.50);
        font-family: Poppins; 
        font-weight: 500;
        line-height: 25px;
        word-wrap: break-word;
        font-size: 13px !important;
    }
    .maindivs>#searchtopic>.left0px{
        width: 12px;
        height: 3px;
        top: 6px;  
        font-size: 13px ;
        background: rgba(73, 80, 87, 0.50);
    }
  }